extend layout
block content
	h3 Для чего служит это приложение?
	p Для проверки работоспособности сайтов. Так сложилось, что при неправильной конфигурации web-сервера, некоторые наши проекты начали "падать". Этот небольшой монитор как раз и был написан, чтобы своевременно предупреждать, что очередной сайт вышел из строя.
	
	h3 Что можно сделать для улучшения этого приложения?
	p Вы можете делать pull-request в github на соответствующий репозиторий, ссылка на которой расположена в блоке справа (или сверху, если у вас небольшая ширина экрана).
	
	h3 Зашёл в исходный текст, там всё плохо. Почему?
	p Я не ставил перед собой задачу написать всё красиво. Если будет время, обязательно этим займусь. Тем более, благодаря именно этому приложению я начал изучать основы Node.JS.
block sidebar
	.panel.panel-default
		.panel-heading
			h3.panel-title Github
		.panel-body
			a(href='https://github.com/vladdy-moses/WebMonitor') https://github.com/vladdy-moses/WebMonitor