extend layout
block scripts
	script(type='text/javascript', src='/client.js')
block content
	#dangerAlert.alert.alert-danger
	table#siteTable.table.table-striped.table-condensed
		tr
			th #
			th Имя
			th Ссылка
			th Статус
			th Дата
block sidebar
	.panel.panel-default
		.panel-body
			| Последнее обновление — 
			span#lastUpdate никогда
			| .
	h3.heading Куда я попал?
	p.
		Это монитор доступности сайтов. Более подробно можете увидеть на странице с <a href="/about">описанием</a>.